<p id="notice"><%= notice %></p>

<h2> <%= @user.username %></h2>

<p>Has made <%= pluralize(@user.ratings.count, 'rating') %> with a total average of <%= @user.average_rating %>.</p>

<% unless @user.favorite_style.nil? %>
  <%= @user.username %>'s favorite beer style is <%= @user.favorite_style.name %><br>
<% end %>

<% unless @user.favorite_brewery.nil? %>
  <%= @user.username %>'s favorite brewery is <%= @user.favorite_brewery.name %><br>
<% end %>

<p>Member of:<br>
  <% @user.memberships.each do |m| %>
    <%= link_to m.beer_club.name, m.beer_club %><br>
  <% end %>
</p>

<h3>ratings</h3>
<ul>
  <% @user.ratings.each do |r| %>
    <li><%= r.beer.name %> <%= r.score%>
    <% if @user == current_user %>
      <%= link_to 'delete', r, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %></li>
  <% end %>
</ul>
<% if @user == current_user %>
  Account options:<br>
  <%= link_to 'Edit account', edit_user_path(@user), class:'btn btn-default btn-xs' %><br>
  <%= link_to 'Destroy account', @user, method: :delete, class:'btn btn-danger btn-xs', data: { confirm: 'You are about to destoy this account. Are you sure?' } %>
<% end %>
