<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<strong>Known beers of this style:</strong><br>
<% @beers.each do |beer| %>
  <% if beer.style == @style %>
    <%= link_to beer.name, beer %> by brewery: <%= link_to beer.brewery.name, beer.brewery %><br>
  <% end %>
<% end %>
<br><br>
<%= link_to 'Edit', edit_style_path(@style), class:'btn btn-default' %> |
<%= link_to 'Back', styles_path, class:'btn btn-default' %>
