<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %></h2>

<i> Established at <%= @brewery.year %></i><br><br>

Number of beers: <%= @brewery.beers.count %><br><br>

<% if @brewery.beers.empty? %>
  No beers added to this brewery.
<% else %>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %> |
  <% end %><br><br>
  Has <%= pluralize(@brewery.ratings.count, 'rating') %><% unless @brewery.ratings.empty? %>, average <%= @brewery.average_rating %>
  <% end %>
<% end %><br><br>

<% if current_user %>
  <%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<% end %>
<%= link_to 'Back', breweries_path %>
