<p id="notice"><%= notice %></p>

<h1>Beer places search</h1>

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search", class:'btn btn-primary btn-sm' %>
<% end %>

<% if @places %><br>
<strong>The current beer weather in <%= params[:city] %></strong><br><br>
<img src="<%= @weather[:icon]%>"/><br>
<%= @weather[:temperature] %> Celcius, feels like <%= @weather[:feelslike] %> Celcius<br><br>
<strong>wind: </strong><%= @weather[:wind] %> mph<br><br>

<strong>Places to get your beer</strong><br>
  <table class="table table-hover">
    <thead>
      <% Place.rendered_fields.each do |f| %>
        <td><%=f %></td>
      <% end %>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |f| %>
          <td>
            <% if f == :name %>
              <%= link_to place.name, place_path(place.id) %>
            <% else %>
              <%= place.send(f) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
