<h2><%= @place.name %></h2><h3><%= @place.status %></h3>
<strong>Contact information:</strong><br>
<%= @place.street %>, <br>
<%= @place.zip %> <%= @place.city %><br>
<%= @place.country %><br>
<p>Tel. <%= @place.phone %></p>
